<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
    />
    <title>Distribution Centers</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/admin">Clothes Warehouse</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/clothlist">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/centres">Distribution Centres</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
      
      <div class="container my-5">
        <h3 class="mt-5">Distribution Centres</h3>
        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Items Available</th>
              <th>Actions</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="centre : ${centres}">
              <td th:text="${centre.id}"></td>
              <td th:text="${centre.name}"></td>
              <td th:text="${centre.latitude}"></td>
              <td th:text="${centre.longitude}"></td>
              <td>
                <div th:each="item : ${centre.item}">
                  <span th:text="${item.name}"></span> - <span th:text="${item.quantity}"></span>
                </div>
              </td>
              <td>
                <a
                  th:href="@{/admin/centre/{id}(id=${centre.id})}"
                  class="btn btn-sm btn-secondary me-2"
                >
                  <i class="bi bi-info-circle"></i> Details
                </a>
                <a
                  th:href="@{/add/{id}(id=${centre.id})}"
                  class="btn btn-sm btn-success me-2"
                >
                  <i class="bi bi-plus-circle"></i> Add Item
                </a>
              </td>
              <td>
                <form
                  th:action="@{/admin/centres/delete/{id}(id=${centre.id})}"                  
                  method="POST"
                  onclick="return confirm('Are you sure you want to delete this Warehouse?');"
                  >
                  <button type="submit" class="btn btn-sm btn-danger me-2">
                    <i class="bi bi-trash"></i> Delete Warehouse
                  </button>  
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      </div>
    </div>
  </body>
</html>
